[submodule "tranquil"]
	path = tranquil
	url = https://github.com/TeaDrinkingProgrammer/tranquil
[submodule "themes/tranquil"]
	path = themes/tranquil
	url = https://github.com/TeaDrinkingProgrammer/tranquil
[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
