{% extends "zola-bearblog/templates/page.html" %}

{% block main %}
{{ super() }}
<script src="https://giscus.app/client.js"
        data-repo="sysrqmagician/sysrqmagician.dev"
        data-repo-id="R_kgDOPHux5A"
        data-category="Comments"
        data-category-id="DIC_kwDOPHux5M4Css-e"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

{% endblock %}
